example_code/OcucajeWeatherAlertPanel.json
[{"id":"22bb0cca.937eac","type":"tab","label":"Call For Code - Ocucaje","disabled":false,"info":""},{"id":"9e2add75.2bbe48","type":"inject","z":"22bb0cca.937eac","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":460,"wires":[["bb7577aa.9529e8","30dad84d.de6d1"]]},{"id":"bb7577aa.9529e8","type":"http request","z":"22bb0cca.937eac","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://api.weather.com/v1/geocode/-14.3472/-75.6714/forecast/daily/15day.json?units=m&language=es-MX&apiKey=320c9252a6e642f38c9252a6e682f3c6","tls":"","persist":false,"proxy":"","authType":"","x":150,"y":280,"wires":[["f6a5b841.1cede","a9cb38dc.6125d","f3a8fee1.f96a6","3b7b8c83.51796c","348ca782.61aeb"]]},{"id":"e5edf17b.068f38","type":"change","z":"22bb0cca.937eac","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperatureMin24Hour","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":200,"wires":[["41572224.8d5434"]]},{"id":"73efd3f8.81fdcc","type":"change","z":"22bb0cca.937eac","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperatureMax24Hour","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":240,"wires":[["4c5a349.2981d4c"]]},{"id":"f6a5b841.1cede","type":"change","z":"22bb0cca.937eac","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.forecasts[0].narrative","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":100,"wires":[["b349da1d.36275"]]},{"id":"41572224.8d5434","type":"ui_text","z":"22bb0cca.937eac","group":"62e5c03f.00643","order":3,"width":0,"height":0,"name":"Temp_Min","label":"Temperatura Mínima:","format":"{{msg.payload}}","layout":"row-spread","x":610,"y":200,"wires":[]},{"id":"4c5a349.2981d4c","type":"ui_text","z":"22bb0cca.937eac","group":"62e5c03f.00643","order":4,"width":0,"height":0,"name":"Temp_Max","label":"Temperatura Máxima:","format":"{{msg.payload}}","layout":"row-spread","x":610,"y":240,"wires":[]},{"id":"b349da1d.36275","type":"ui_text","z":"22bb0cca.937eac","group":"62e5c03f.00643","order":5,"width":"6","height":"1","name":"Clima","label":"","format":"{{msg.payload}}","layout":"col-center","x":590,"y":100,"wires":[],"icon":"node-red/comment.svg"},{"id":"11fdf72a.e85699","type":"ui_worldmap","z":"22bb0cca.937eac","group":"f0f04a03.1ca128","order":6,"width":"8","height":"8","name":"","lat":"-14.00","lon":"-76.00","zoom":"9","layer":"Nat Geo","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","path":"/worldmap","x":740,"y":460,"wires":[]},{"id":"a9cb38dc.6125d","type":"change","z":"22bb0cca.937eac","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.forecasts[0].dow","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":300,"wires":[["c7fad7e6.5d0168"]]},{"id":"f3a8fee1.f96a6","type":"change","z":"22bb0cca.937eac","name":"fase_lunar","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.forecasts[0].lunar_phase","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":340,"wires":[["ae806f6e.1fffe8"]]},{"id":"3b7b8c83.51796c","type":"change","z":"22bb0cca.937eac","name":"cod_fase_lunar","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.forecasts[0].lunar_phase_code","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":380,"wires":[["26349527.fb5792","9a3c778c.631f8"]]},{"id":"c7fad7e6.5d0168","type":"ui_text","z":"22bb0cca.937eac","group":"dc649522.95edb8","order":1,"width":0,"height":0,"name":"Dia","label":"Día: ","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":300,"wires":[]},{"id":"ae806f6e.1fffe8","type":"ui_text","z":"22bb0cca.937eac","group":"dc649522.95edb8","order":7,"width":0,"height":0,"name":"Fase_lunar","label":"Fase Lunar: ","format":"{{msg.payload}}","layout":"row-spread","x":610,"y":340,"wires":[]},{"id":"26349527.fb5792","type":"ui_text","z":"22bb0cca.937eac","group":"dc649522.95edb8","order":6,"width":0,"height":0,"name":"Codigo_fase_lunar","label":"Cód. Fase Lunar: ","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":380,"wires":[]},{"id":"9a3c778c.631f8","type":"debug","z":"22bb0cca.937eac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":420,"wires":[]},{"id":"74ca7d02.ed4dbc","type":"comment","z":"22bb0cca.937eac","name":"Clima de dia","info":"Descripción del clima por el día.","x":110,"y":100,"wires":[]},{"id":"30dad84d.de6d1","type":"http request","z":"22bb0cca.937eac","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://api.weather.com/v3/wx/observations/current?geocode=-14.3472%2C-75.6714&units=m&language=en-MX&format=json&apiKey=320c9252a6e642f38c9252a6e682f3c6","tls":"","persist":false,"proxy":"","authType":"","x":130,"y":580,"wires":[["eb77e9ee.73aaf","eb20ba87.5264d8","c0aff3b9.c9971","2dad58a2.f2e958","63b3a368.82a034","e5edf17b.068f38","73efd3f8.81fdcc","be937e1f.e399c8"]]},{"id":"eb77e9ee.73aaf","type":"change","z":"22bb0cca.937eac","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.visibility","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":520,"wires":[["58ddcb2b.e0243c"]]},{"id":"eb20ba87.5264d8","type":"change","z":"22bb0cca.937eac","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.windDirection","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":560,"wires":[["10caabb4.618b74"]]},{"id":"c0aff3b9.c9971","type":"change","z":"22bb0cca.937eac","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.windDirectionCardinal","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":600,"wires":[["768d22ae.3866f4"]]},{"id":"58ddcb2b.e0243c","type":"ui_text","z":"22bb0cca.937eac","group":"dc649522.95edb8","order":8,"width":"6","height":"1","name":"Visiblidad","label":"Visibilidad: ","format":"{{msg.payload}}","layout":"row-spread","x":600,"y":520,"wires":[]},{"id":"10caabb4.618b74","type":"ui_text","z":"22bb0cca.937eac","group":"dc649522.95edb8","order":9,"width":"6","height":"1","name":"DireccionViento","label":"Direc. Viento: ","format":"{{msg.payload}}","layout":"row-spread","x":620,"y":560,"wires":[]},{"id":"768d22ae.3866f4","type":"ui_text","z":"22bb0cca.937eac","group":"dc649522.95edb8","order":10,"width":"6","height":"1","name":"DireccionVientoCardinal","label":"Direc. Viento Cardinal: ","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":600,"wires":[]},{"id":"2dad58a2.f2e958","type":"change","z":"22bb0cca.937eac","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.windSpeed","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":640,"wires":[["74c41c47.182cac"]]},{"id":"74c41c47.182cac","type":"ui_text","z":"22bb0cca.937eac","group":"dc649522.95edb8","order":11,"width":"6","height":"1","name":"VelocidadViento","label":"Velocidad Viento: ","format":"{{msg.payload}}","layout":"row-spread","x":620,"y":640,"wires":[]},{"id":"63b3a368.82a034","type":"change","z":"22bb0cca.937eac","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.cloudCoverPhrase","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":680,"wires":[["ba8f1426.0c3a7"]]},{"id":"ba8f1426.0c3a7","type":"ui_text","z":"22bb0cca.937eac","group":"dc649522.95edb8","order":12,"width":"6","height":"1","name":"CieloNube","label":"Cubierta de nube: ","format":"{{msg.payload}}","layout":"row-spread","x":610,"y":680,"wires":[]},{"id":"be937e1f.e399c8","type":"change","z":"22bb0cca.937eac","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":160,"wires":[["6ad1d6d6.d8a5e"]]},{"id":"6ad1d6d6.d8a5e","type":"ui_gauge","z":"22bb0cca.937eac","name":"","group":"62e5c03f.00643","order":2,"width":"0","height":"0","gtype":"wave","title":"Temperatura","label":" ºC","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":160,"wires":[]},{"id":"348ca782.61aeb","type":"function","z":"22bb0cca.937eac","name":"Ubicacion","func":"var vlat = -14.34;\nvar vlon = -75.67;\n\nmsg.payload = {\n    name: \"Ocucaje\",\n    lat: vlat,\n    lon: vlon,\n    icon:\"fa-map-marker fa-3x\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":460,"wires":[["11fdf72a.e85699"]]},{"id":"62e5c03f.00643","type":"ui_group","z":"","name":"El Clima Hoy en Ocucaje - Ica","tab":"4f66d484.f0eb24","order":1,"disp":true,"width":"6","collapse":false},{"id":"f0f04a03.1ca128","type":"ui_group","z":"","name":"Ubicación","tab":"4f66d484.f0eb24","order":2,"disp":true,"width":"8","collapse":false},{"id":"dc649522.95edb8","type":"ui_group","z":"","name":"Viento y Fase Lunar","tab":"4f66d484.f0eb24","order":3,"disp":true,"width":"6","collapse":false},{"id":"4f66d484.f0eb24","type":"ui_tab","z":"","name":"Ocucaje","icon":"dashboard","order":1,"disabled":false,"hidden":false}]